* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

header {
    background-image: url('./images/headerbg.png');
    height: 40vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.brand-logo {
    width: 13vw;
    padding-top:20px;
    margin-bottom: 50px;
}

.header-text {
    margin-bottom: -40px;
    text-align: center;
    font-size: 1.8vw !important;
    color: #fff;
    font-weight: 300;
    font-size: 16pt;
    font-family: 'Didact Gothic', sans-serif;
}

span {
    font-size: 2.2vw;
    font-weight: bold;
}

 
.header-box {
    display: flex;
    height: 200px;
    margin: 0 auto;
    width: 70%;
    background-color: #c8f8fe;
}

.header-box-content {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.arrow-1 p {
    text-align: center;
}

.arrow-1  {
    position: relative;
}

.arrow-1 img {
    position: absolute;
    left: 30px;
}

.header-img {
    text-align: center;
    margin-top: 150px;
}

.header-img img {
    max-width: 80%;
    height: 29.3vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

br {
    display: block;
}


@media (max-width: 768px) {
    .header-img img {
    max-width: 80%;
    width: 100%;
    height: 90%;
}

.header-img {
    text-align: center;
    margin-top: 90px;
}

}

@media (max-width: 690px) {
    .header-img {
        text-align: center;
        margin-top: 60px !important;
    }
}


@media (max-width: 420px) {

    .header-img {
        text-align: center;
        margin-top: 20px !important;
    }

    .brand-logo {
        width: 13vw;
        padding-top:20px;
        margin-bottom: 20px;
    }
    
    .header-text {
        margin-bottom: 0px;
        text-align: center;
        font-size: 1.8vw !important;
        color: #fff;
        font-weight: 300;
        font-size: 16pt;
        font-family: 'Didact Gothic', sans-serif;
    }

    .header-img {
        text-align: center;
        margin-top: 0px;
    }
    
    .header-img img {
        max-width: 80%;
        height: 29.3vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    
}

.container{
    margin:  0 auto;
    width: 90%;
}
#text{
    margin-top: 200px;
}
.partners{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5vw;
}

.bold{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
}
.pre-footer{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.7vw;
}
#footer{
    margin-top: -60px;
}
.left{
    width: 100%;
    position: absolute;
}
.right{
    width: 100%;
    position: relative;
}

.images{
    display: flex;
    flex-direction: row;
}
#footer p{
    position: relative;
    color: red !important;
    margin-top: -32px;
    color: #ffffff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.37vw;
    text-align: center;
}

@media (max-width: 811px) {
    #text{
        margin-top: 190px;
    }

    #footer {
        margin-top: -30px !important;
    }
}

@media (max-width: 750px) {
    #text{
        margin-top: 150px;
    }
}

@media (max-width: 1238px) {
    #footer p{
        margin-top: -26px;
    }

    #footer {
        margin-top: -40px;
    }
}

@media (max-width: 1025px) {
    #footer p{
        margin-top: -20px;
    }
}

@media (max-width: 768px) {
    #footer p{
        margin-top: -17px;
    }
}

@media (max-width: 768px) {
    #footer p{
        margin-top: -17px;
    }
}

@media (max-width: 572px) {
    #footer p{
        margin-top: -12px;
    }

    #footer {
        margin-top: -20px !important;
    }
}




